<h1>Welcome, <%= @user.name %></h1>
<p>Stephen Hawking will ask you a question. Record your response and then review the solution.</p>
<div class="text-center">
  <%= link_to "Random Question", question_path(@questions.sample), class: "btn btn-danger btn-large" %>
</div>

<p>Or choose a specific question:</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Attempted</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
    <tr>
      <td>
        <% if response = @user.responses.find_by_question_id(question.id) %>
          <%= link_to question_response_path(question, response), method: :delete do %>
            <i class="icon-check"></i>
          <% end %>
        <% else %>
          <%= link_to question_responses_path(question), method: :post do %>
            <i class="icon-check-empty"></i>
          <% end %>
        <% end %>
      <td><%= link_to question.title, question_path(question) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
